<IfModule mod_rewrite.c >
    Options -Multiviews
    RewriteEngine On
    RewriteBase /raamistik/public
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    # Adding QSA to the brackets at the end seems to cause a error 500
    # If some other weird error is occuring some place else, then it's fairly likely that it's because of this.
    RewriteRule ^(.+)$ index.php?url=$1 [L]
</IfModule>